@tailwind base;
@tailwind components;
@tailwind utilities;

.blurred-background {
    backdrop-filter: blur(1px); /* Adjust the blur radius as needed */
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the background color and opacity as needed */
}

.arrow-container {
    position: fixed;
    bottom: 20px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
  }
  
  .arrow-down {
    width: 50px;
    height: 50px;
    position: relative;
    animation: bounce 1s infinite alternate;
  }
  
  .arrow-down::after {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid #000;
  }
  
  @keyframes bounce {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
  }
  