@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DM Sans', sans-serif;
}

.blurred-background {
    backdrop-filter: blur(1px); /* Adjust the blur radius as needed */
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the background color and opacity as needed */
}

.arrow-container {
    position: fixed;
    bottom: 20px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
  }
  
  .arrow-down {
    width: 50px;
    height: 50px;
    position: relative;
    animation: bounce 1s infinite alternate;
  }
  
  .arrow-down::after {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid #000;
  }
  
  @keyframes bounce {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
  }


  .markdown-content {
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  .markdown-content h1, .markdown-content h2, .markdown-content h3 {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .markdown-content h1 {
    font-size: 2em;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
  }
  
  .markdown-content h2 {
    font-size: 1.5em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
  }
  
  .markdown-content h3 {
    font-size: 1.25em;
  }
  
  .markdown-content p {
    margin-bottom: 15px;
  }
  
  .markdown-content ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 15px;
  }
  
  .markdown-content li {
    margin-bottom: 5px;
  }
  
  .markdown-content table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
  }
  
  .markdown-content th, .markdown-content td {
    padding: 12px 15px;
    border: 1px solid #ddd;
  }
  
  .markdown-content thead {
    background-color: #f4f4f4;
  }
  
  .markdown-content tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .markdown-content tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .markdown-content th {
    font-weight: bold;
  }
  
  .markdown-content td {
    vertical-align: top;
  }
  
  
  /* Add more styles as needed */
  
  